body{
  font-family: "Helvetica";
  background-color:#E5E5E5;
}

.keys{
  display: inline-block;
  width:15px;
  height:15px;
  border-style: solid;
  border-width:1px;
  border-top-color: black;
  border-left-color: black;
  border-right-color: black;
  border-bottom-color: black;
  color:#e3e3e3;
  text-align:center;
  font-size:12px;
}

.details{
  position:fixed;
  background-color:#e3e3e3;
  padding:0px;
  top:0px;
  left:0px;
  padding:8px;
  width:100%;
  z-index:2;
  border-bottom-width: 3px;
  border-bottom-color: #e3e3e3;
  border-bottom-style: solid;
}

.measure{
  height:16px;
  margin-left:10px;
}

.count{
  margin-right:10px;
  margin-left:10px;
  font-size:10px;
  color:black;
  border-color:transparent;
}

.description{
  padding-bottom:5px;
  padding-top: 5px;
  font-size:20px;
}

table{
  font-size:12px;
  border-collapse: collapse;
}

td{
  color:#a3a3a3;
}

.desc{
  color:black;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.overlay{
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:#E5E5E5;
}

.overlay > button:first-of-type{
  margin-left:10px;
  margin-top:10px;
  margin-bottom:10px;
}

.overlay > img{
  margin-left:10px;
  max-width:90%;
  max-height:90%;
}

.error{
  position:fixed;
  display:none;
  color:red;
  font-size: 10px;
  bottom:5px;
  right:5px;
}

.display{
  margin-top:120px;
  margin-bottom:20px;
  width:100%;
  text-align:center;
  display:inline-block;
}

.songIndex{
  font-size: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.sub-gray{
  color:#808080;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    max-height:350px;
    overflow:scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 16px;
    z-index: 1;
}

.dropdown-main{
    text-decoration: underline;
}

.dropdown-sub{
    padding-left:10px;
    cursor:pointer;
}

/* 			Spinner	 */
.wrapper {
  display:none;
  position:absolute;
  top:10px;
  right:30px;
  background: #e3e3e3;
}

.wrapper, .wrapper * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 25px;
  height: 25px;

}

.wrapper .pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: #08C;
  border: 5px solid rgba(0,0,0,0.5);
}

.wrapper .spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;
  animation: rota 5s linear infinite;
}

.wrapper:hover .spinner,
.wrapper:hover .filler,
.wrapper:hover .mask {
  animation-play-state: running;
}

.wrapper .filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 100;
  animation: opa 5s steps(1, end) infinite reverse;
  border-left: none;
}

.wrapper .mask {
  width: 50%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: 1;
  z-index: 300;
  animation: opa 5s steps(1, end) infinite;
}

@keyframes rota {
  0% {
	transform: rotate(0deg);
  }
  100% {
	transform: rotate(360deg);
  }
}
@keyframes opa {
  0% {
	opacity: 1;
  }
  50%, 100% {
	opacity: 0;
  }
}
