body{
  margin:0;
  font-family:avenir-medium, helvetica;
  background-color:#EEE9E9;
}

.header{
  /*background-color:#B22222;*/
  background-color:#00ACC1;
  position:fixed;
  width:100%;
  top:0px;
  font-size:14px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-bottom: 1px solid black;
  z-index:10;
}

.header .title-header{
  color:#EEE9E9;
  padding:10px;
  padding-right:30px;
  padding-left:30px;
}

.header .logo{
  display: inline-block;
  float: left;
  cursor:pointer;
}

.header .title-header .right-title{
  display:inline;
  float: right;
  padding-top:10px;
  color:white;
  line-height: 25px;
}

.main{
  /*padding-top:90px;*/
  padding-top: 30px;
  padding-bottom:30px;
}

.main .result{
  /*background-color:#EE4000;*/
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width:50%;
  margin: 0 auto;
  margin-top:30px;
  /*border-radius: 5px;*/
  cursor:pointer;
}

.main .result .info{
  padding:20px;
  color:#EEE9E9;
}

.main .result .info .title-info{
  color:#2E282A;
  display:inline;
}

.main .result .info table{
  color:#2E282A;
  display:inline;
  font-size:12px;
}

.main .result .info table td:first-child{
  color:#ADA8B6;
}

.subheader{
  /*background-color:#0093A3;*/
  background-color: #00ACC1;
  /*background-color: white;*/
  padding:10px;
  /*font-size:14px;*/
  white-space: nowrap;
  overflow-x: scroll;
}

.options{
  color:#2E282A;
  display:inline-block;
  line-height: 20px;
}

.option{
  display:inline-block;
  color:white;
  cursor:pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.metadatas{
  /*color:#2E282A;*/
  color:rgba(255,255,255,0.70);
  display:none;
  padding-left: 50px;
  line-height: 20px;
}

.metadata{
  color:white;
  display:inline;
  padding-right: 10px;
}

.display{
  display: none;
}

.keys{
  display: inline-block;
  width:15px;
  height:15px;
  border-style: solid;
  border-width:1px;
  border-top-color: black;
  border-left-color: black;
  border-right-color: black;
  border-bottom-color: black;
  color:#e3e3e3;
  text-align:center;
  font-size:12px;
}

.details{
  position:fixed;
  background-color:#e3e3e3;
  padding:0px;
  top:0px;
  left:0px;
  padding:8px;
  width:100%;
  z-index:2;
  border-bottom-width: 3px;
  border-bottom-color: #e3e3e3;
  border-bottom-style: solid;
}

.measure{
  height:16px;
  margin-left:10px;
}

.count{
  margin-right:10px;
  margin-left:10px;
  font-size:10px;
  color:black;
  border-color:transparent;
}

.display{
  margin-top:30px;
  margin-bottom:20px;
  width:100%;
  text-align:center;
  display:none;
}

.start-button{
  /*color:#73EEDC;*/
  display:none;
  color:black;
  cursor:pointer;
  position:fixed;
  top:55px;
  left:10px;
}

.edit-button{
  /*color:#73EEDC;*/
  display:none;
  color:black;
  cursor:pointer;
  position:fixed;
  top:145px;
  left:10px;
}

.clickable{
  cursor:pointer;
}

.editTools{
  display:none;
  position:fixed;
  top:160px;
  left:0px;
  padding:10px;
  border-radius:5px;
}

.editBox{
  text-align:center;
  margin:5px;
  display:inline-block;
  float:left;
  width:25px;
  height:25px;
  border:2px solid black;
}

.toggle-button{
  display:none;
  color:black;
  cursor:pointer;
  position:fixed;
  top:92px;
  width:25px;
  height:25px;
  background-color:white;
  text-align:center;
  line-height: 27px;
  border-radius:3px;
  border:1px solid black;
}

.next-button{
  left:45px;
}

.prev-button{
  left:10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.legend{
  /*width:160px;*/
  margin:0 auto;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.16), 0 1px 6px rgba(0,0,0,0.23);
  padding:8px;
  text-align:left;
}

.legend-one{
  background-color:#d3d3d3;
  width:120px;
}

.legend-two{
  background-color:#1a1a1a;
  width:180px;
}

.training-key{
  width:150px;
  height:150px;
  border:5px black solid;
  display:inline-block;
  color:#d3d3d3;
}

.createSong{
  position:fixed;
  line-height: 50px;
  font-size:30px;
  height:50px;
  width:50px;
  background-color:#00ACC1;
  border-radius:50%;
  bottom:30px;
  right:30px;
  text-align:center;
  color:white;
  cursor:pointer;
  /*box-shadow: 1px 1px 0px black;*/
  box-shadow: 0px 1px 6px rgba(0,0,0,0.16), 0 1px 6px rgba(0,0,0,0.23);
}

.editor{
  cursor: pointer;
}

.selectSquare{
  position:fixed;
  top:20px;
  right:20px;
  margin:0 auto;
  background-color:#CDC9C9;
  padding:10px;
  border-radius:5px;
  display:none;
}

.selectSquare .all{
  cursor:pointer;
}

.selector-clear, .selector-close{
  cursor:pointer;
}

.selector-info{
  font-size:14px;
}

.editor-keys{
  width:25px;
  height:25px;
}

.editor-measure{
  height:26px;
}

.md-editor input{
  width:70px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  color: white;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.modifySquare{
  display:none;
}

.footer{
  position:fixed;
  left:8px;
  bottom:8px;
  font-size:12px;
}

a{
  color:black;
}

.footer a{
  text-decoration: none;
  color:#ADA8B6;
  cursor:pointer;
  margin:3px;
}

.footer a:hover{
  text-decoration: underline;
}

iframe{
  display:none;
  border:none;
  height:120px;
  width:212px;
}

.video-button{
  cursor:pointer;
}

.player{
  display:none;
  position:fixed;
  top:50px;
  right:10px;
}

@media only screen and (max-width: 768px) {
  .footer{
    position:fixed;
    background-color:white;
    width:100%;
    left:0px;
    bottom:0px;
    padding:3px;
    border-top:1px solid black;
    font-size:12px;
  }
  .footer a{
    margin:3px;
  }
  .footer a:hover{
    text-decoration: none;
  }
  .main .result{
    width:80%;
  }
}
